<table class="table table-striped projects" id="leaveTable">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Duration
            </th>
            <th>
                Return Date
            </th>
            <th>
                Available On Phone
            </th>
            <th>
                Approved Date
            </th>
            <th>
                Status
            </th>
            @* <th>
                Adhoc Leave?
            </th> *@
            @* @if (canAddEdit || canDelete)
                    { *@
            <th>
                Actions
            </th>
            @* } *@
        </tr>
    </thead>
</table>